// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "scss/functions";

// 2. Include any default variable overrides here
$primary: #660000;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "scss/variables";
@import "scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "scss/maps";
@import "scss/mixins";
@import "scss/root";

// 6. Optionally include any other parts as needed
@import "scss/utilities";
@import "scss/reboot";
@import "scss/type";
@import "scss/images";
@import "scss/containers";
@import "scss/grid";
@import "scss/tables";
@import "scss/forms";
@import "scss/buttons";
@import "scss/transitions";
@import "scss/dropdown";
@import "scss/button-group";
@import "scss/nav";
@import "scss/navbar";
@import "scss/card";
@import "scss/accordion";
@import "scss/breadcrumb";
@import "scss/pagination";
@import "scss/badge";
@import "scss/alert";
@import "scss/progress";
@import "scss/list-group";
@import "scss/close";
@import "scss/toasts";
@import "scss/modal";
@import "scss/tooltip";
@import "scss/popover";
@import "scss/carousel";
@import "scss/spinners";
@import "scss/offcanvas";
@import "scss/placeholders";

// Helpers
@import "scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "scss/utilities/api";

// 8. Add additional custom code here
.meine-klasse {
    background-color: magenta;
}

/*

.btn-primary, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background: #ff1ee1;
    border: none;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    background: #af04af;
    border: none;
}

.btn-success, .btn-success:active, .btn-success:focus, .btn-success:hover {
    background: #1df35d;
    border: none;
}

.btn-danger, .btn-danger:active, .btn-danger:focus, .btn-danger:hover {
    background: #d61010;
    border: none;
}

.btn-warning, .btn-warning:active, .btn-warning:focus, .btn-warning:hover {
    background: #e2c106f5;
    border: none;
}

.btn-info, .btn-info:active, .btn-info:focus, .btn-info:hover {
    background: #686aff;
    border: none;
}

.btn-light, .btn-light:active, .btn-light:focus, .btn-light:hover {
    background: #efefef;
    border: none;
}

.btn-dark, .btn-dark:active, .btn-dark:focus, .btn-dark:hover {
    background: #111111;
    border: none;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-success:hover,
.btn-danger:hover,
.btn-warning:hover,
.btn-info:hover,
.btn-light:hover,
.btn-dark:hover {
    filter: brightness(1.1);
}

.btn-primary:active,
.btn-secondary:active,
.btn-success:active,
.btn-danger:active,
.btn-warning:active,
.btn-info:active,
.btn-light:active,
.btn-dark:active {
    filter: brightness(0.9);
}

.btn-primary:focus,
.btn-secondary:focus,
.btn-success:focus,
.btn-danger:focus,
.btn-warning:focus,
.btn-info:focus,
.btn-light:focus,
.btn-dark:focus {
    box-shadow: none;
}

.btn-primary:active:focus,
.btn-secondary:active:focus,
.btn-success:active:focus,
.btn-danger:active:focus,
.btn-warning:active:focus,
.btn-info:active:focus,
.btn-light:active:focus,
.btn-dark:active:focus {
    box-shadow: none;
}

*/